<p>List PAR-Qs to upload</p>

<!-- <div ng-repeat="parq in parqs track by $index"> -->
<!--   {{parq.firstname}} {{parq.surname}} -->
<!-- </div> -->
<div class="alert alert-info" role="alert" ng-show="uploading">{{uploading}}</div>

<div class="alert alert-warning alert-dismissible" ng-show="uploadFailed">
  <button type="button" class="close" ng-click="clearUpload()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Upload failed</strong> {{uploadFailed}}
</div>
<div class="alert alert-success alert-dismissible" ng-show="uploadSuccess">
  <button type="button" class="close" ng-click="clearUpload()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Upload Succeeded</strong> {{uploadSuccess}}
</div>

                        <table class="table table-hover">
                            <tr
                                ng-repeat="parq in parqs track by $index | orderBy:'surname'">
                                <td>{{parq.firstname}}</td>
                                <td>{{parq.surname}}</td>
<!--                                 <td><a class="button" -->
<!--                                     href="geoserver/layerGroup/{{layerGroup.name}}.xml?endPoint={{serverEncoded}}&urlEncoded=true" -->
<!--                                     target="_"><span class="glyphicon glyphicon-save" -->
<!--                                         aria-hidden="true" popover="Download {{layerGroup.name}}.xml" -->
<!--                                         popover-trigger="mouseenter" style="cursor: pointer"></span></a></td> -->
                                <td><button class="btn btn-default btn-sm" ng-click="removeParQ(parq)">Delete</button></td>
                                <td><button class="btn btn-default btn-sm" ng-click="editParQ(parq)">Edit</button></td>
                                <td><button class="btn btn-default btn-sm" ng-click="uploadParQ(parq)">Upload</button></td>
                            </tr>
                        </table>

